@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

div {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

p {
  margin: 0; }

h1 {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  color: #000000;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  background-color: #F6F7FB; }

body, html {
  overflow-x: hidden;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

input {
  outline: none; }

.safari {
  cursor: pointer; }

.dashboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 12em; }

.dashboard__item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 2.5em;
  border-right: 1px solid #D0D3DA;
  border-bottom: 1px solid #D0D3DA;
  background-color: #ffffff;
  white-space: nowrap; }
  .dashboard__item:last-child {
    border-right: none; }

.dashboard__item-content {
  color: #8391AD;
  text-align: end; }

.dashboard__item-number {
  font-size: 4.8em; }

.dashboard__item-title {
  font-size: 2.4em; }

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 25px;
  margin-bottom: 40px;
  border-bottom: 1px solid #D0D3DA; }

.controls__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.controls__date-settings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.controls__date-period-list, .controls__date-view-list {
  top: 35px;
  right: 0;
  width: auto;
  white-space: nowrap; }

.drop-list {
  opacity: 0;
  position: absolute;
  border-radius: 20px;
  padding: 10px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
  pointer-events: none; }

.drop-list__item {
  position: relative;
  padding: 8px 20px;
  cursor: pointer; }

.selected {
  background-color: #E7E9EC; }
  .selected::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 10px;
    background-color: #6093DE; }

.controls__item_search {
  width: 25%;
  min-width: 250px;
  max-width: 620px; }

.controls__search {
  position: relative;
  width: 100%;
  cursor: pointer; }

.search-field {
  width: 100%;
  height: 100%;
  min-height: 42px;
  padding: 5px 50px 5px 20px;
  border-radius: 20px;
  border: 1px solid #D0D3DA;
  font-size: 1.4em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.controls__search-btn {
  position: absolute;
  right: 0;
  top: 0; }

.controls__search-btn, .controls__reload-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.2em;
  width: 4.2em;
  min-width: 4.2em;
  min-height: 4.2em;
  border-radius: 50%;
  border: 1px solid #D0D3DA;
  cursor: pointer; }

.controls__date-view, .controls__date-period {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-size: 1.4em;
  cursor: pointer; }

.controls__date-view-text, .controls__date-period-text {
  margin-right: 8px; }

.controls__item .open .controls__date-period-arrow, .controls__item .open .controls__date-view-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.controls__date-picker {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px; }

.controls__date-picker-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1.2em 1.5em 1.4em 1.5em;
  background-color: #E7E9EC;
  border: 1px solid #D0D3DA;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer; }
  .controls__date-picker-item:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    height: 100%;
    width: 5px;
    background-color: #6093DE; }

.controls__date-picker-text {
  margin: 0 25px;
  color: #8391AD;
  font-size: 1.8em; }

.controls__date-picker-date {
  width: 95px;
  padding-right: 10px;
  font-size: 1.4em; }

.calendar {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  z-index: 2;
  cursor: pointer; }

.calendar__table {
  border-collapse: collapse;
  border-spacing: 0; }

.calendar__controls-month {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0px;
  width: 100%;
  border-bottom: 1px solid #D0D3DA; }

.calendar__control-month {
  width: 1em; }
  .calendar__control-month svg {
    stroke: #000000; }

.calendar__month {
  text-align: center;
  font-size: 1.6em;
  font-weight: 500; }

.calendar-table__row-week {
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 0.1rem solid #D0D3DA; }

.calendar-table__cell {
  padding: 14px;
  text-align: center;
  font-size: 1.4em; }

.calendar-table__cell-day:hover {
  background-color: rgba(142, 142, 147, 0.5);
  border-radius: 6px; }

.calendar-table__cell-day_selected-one {
  background-color: #6093DE;
  border-radius: 50%;
  color: #ffffff; }
  .calendar-table__cell-day_selected-one:hover {
    border-radius: 50%; }

.calendar-table__cell-day_selected-period-start, .calendar-table__cell-day_selected-period-end {
  position: relative;
  background-color: #6093DE;
  border-radius: 50%;
  color: #ffffff; }
  .calendar-table__cell-day_selected-period-start::after, .calendar-table__cell-day_selected-period-end::after {
    content: "";
    display: block;
    background-color: #e8e9ed;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: -1; }
  .calendar-table__cell-day_selected-period-start:hover, .calendar-table__cell-day_selected-period-end:hover {
    background-color: #8e8e93;
    border-radius: 50%; }

.calendar-table__cell-day_selected-period-start::after {
  right: 0; }

.calendar-table__cell-day_selected-period-end::after {
  left: 0; }

.calendar-table__cell-day_selected-period {
  background-color: #e8e9ed; }
  .calendar-table__cell-day_selected-period:hover {
    border-radius: 0px; }

.controls-mobile__item {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 15px;
  border-top: 1px solid #D0D3DA; }

.controls-mobile__search {
  margin-right: 20px; }

.table-navigation {
  position: relative;
  width: 100%;
  min-height: 15px; }

.table-navigation__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 1.4em; }

.table-navigation__text {
  margin-right: 20px;
  color: #8391AD; }

.table-navigation__rows-amount {
  margin-right: 25px; }

.table-navigation__rows-amount-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 25px;
  cursor: pointer; }

.table-navigation__rows-amount-btn {
  cursor: pointer; }

.table-navigation__rows-amount-btn_open {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.table-navigation__rows-amount-list {
  top: 20px;
  left: -10px;
  border-radius: 6px;
  text-align: center; }

.rows-amount-list__item {
  padding: 8px 10px; }
  .rows-amount-list__item::after {
    display: none; }

.table-navigation__rest-rows {
  margin-right: 5px; }

.table-navigation__total-rows {
  margin-left: 5px; }

.table-navigation__wrapper-controls {
  position: absolute;
  top: 0;
  width: 100%; }

.table-navigation__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.table-navigation__control {
  margin-right: 10px;
  width: 1em;
  cursor: pointer; }
  .table-navigation__control svg {
    stroke: #000000; }

.table-navigation__control_inactive svg {
  stroke: #D0D3DA; }

.table-section {
  padding: 0 10px;
  margin: 20px 0; }

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #D0D3DA;
  border-right: 1px solid #D0D3DA; }
  .table tr:nth-child(2n+1) {
    background-color: #ffffff; }
  .table th, .table td {
    border-left: 1px solid #D0D3DA;
    border-bottom: 1px solid #D0D3DA; }
  .table th {
    position: relative; }
  .table .table__row-content:hover {
    background-color: #d8ebf6; }

.table__cell_content {
  cursor: pointer; }

.table__cell {
  padding: 6px 10px 6px 10px;
  text-align: start; }

.table__cell_headline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.table__wrapper-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.table__text_headline {
  margin-right: 8px;
  font-size: 1.8em;
  color: #8391AD;
  font-weight: 400; }

.table__sort-btn {
  margin-left: 8px;
  width: 1rem;
  min-width: 1rem;
  stroke: #8391AD; }
  .table__sort-btn:hover {
    cursor: pointer; }

.table__sort-dir_hide {
  display: none; }

.table__filter-btn {
  margin-right: 8px; }
  .table__filter-btn:hover {
    cursor: pointer; }

.table__filter-btn_filtered path {
  stroke: #6093DE;
  fill: #6093DE; }

.table__filter-list {
  top: 48px;
  left: 0;
  width: auto;
  white-space: nowrap; }

.filter-item {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.filter-item__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.filter-item__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 6px;
  border: 1px solid #D0D3DA;
  background-color: #ffffff; }

.filter-item:hover .filter-item__checkbox ~ .filter-item__checkmark {
  border: 1px solid #6093DE; }

.filter-item .filter-item__checkbox:checked ~ .filter-item__checkmark {
  border: 1px solid #6093DE; }

.filter-item__checkmark::after {
  content: "";
  position: absolute;
  display: none; }

.filter-item__checkbox:checked ~ .filter-item__checkmark::after {
  display: block; }

.filter-item__checkmark::after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #6093DE;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.table__filter-btn-apply {
  display: block;
  padding: 2px 20px;
  margin: 5px auto;
  background-color: #ffffff;
  border: 1px solid #6093DE;
  border-radius: 6px;
  font-size: 1.6em;
  color: #6093DE;
  cursor: pointer; }

.table__text {
  font-size: 1.6em; }

.table__cell_share_active svg, .table__cell_share_active path {
  stroke: #6093DE;
  fill: #6093DE; }

.table__cell_share_active:hover {
  cursor: pointer; }

.table__cell_share_inactive svg, .table__cell_share_inactive path {
  stroke: #D0D3DA;
  fill: #D0D3DA; }

.table__cell_type_service {
  color: #219653; }

.table__cell_type_recall {
  color: #eb5757; }

.table__cel_type_follow {
  color: #6093DE; }

.table-mobile {
  display: none;
  padding-bottom: 70px; }

.table-mobile__cell {
  padding: 8px 15px;
  background-color: #ffffff;
  margin-bottom: 8px; }
  .table-mobile__cell:hover {
    background-color: #d8ebf6;
    cursor: pointer; }

.table-mobile__cell-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .table-mobile__cell-row:first-child {
    margin-bottom: 10px; }

.table-mobile__cell_name-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.table-mobile__cell_name {
  margin-bottom: 2px;
  margin-right: 8px;
  font-size: 1.6em;
  font-weight: 500; }

.table-mobile__cell_shedule-time, .table-mobile__cell_property-type, .table-mobile__cell_type, .table-mobile__cell_status {
  font-size: 1.4em; }

.table-mobile__cell-description {
  text-align: end; }

.table-mobile__cell_type {
  margin-bottom: 2px; }

.table-mobile__cell_property-type {
  margin-bottom: 2px; }

.table-mobile__cell_status {
  font-weight: 500; }

.table-mobile__cell-fields, .table-mobile__cell-title {
  margin-right: 8px; }

.table-mobile__cell_area, .table-mobile__cell_service-resource, .table-mobile__cell_created-by {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 2px; }

.table-mobile__cell_area-label, .table-mobile__cell_service-resource-label {
  padding-right: 8px;
  font-size: 1.4em;
  color: #8391AD; }

.table-mobile__cell_area-content, .table-mobile__cell_service-resource-content {
  font-size: 1.2em; }

.table-mobile__cell-info {
  text-align: end;
  font-size: 1.2em; }

.table-mobile__cell_date {
  margin-bottom: 2px; }

.table-mobile__cell_created-by {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.table-mobile__cell_created-by-content {
  padding-left: 8px; }

.popup-window {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  opacity: 0;
  pointer-events: none; }

.popup-window_active {
  opacity: 1;
  pointer-events: auto; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6093DE;
  opacity: .25;
  z-index: -1; }

.table-mobile__popup {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 25px;
  margin: 0 10px;
  width: 100%;
  border-radius: 6px; }

.table-mobile__popup_name {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
  font-size: 2.5em;
  text-align: center;
  padding: 8px 25px;
  border: 2px solid #6093DE;
  border-radius: 6px;
  white-space: nowrap; }

.table-mobile__popup_share-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
  padding: 8px 25px;
  border: 2px solid #6093DE;
  border-radius: 6px; }
  .table-mobile__popup_share-btn svg {
    width: 2.4em; }

.table-mobile__share-text {
  font-size: 2em;
  margin-right: 10px; }

.table__share-btn_active {
  border-color: #6093DE;
  color: #6093DE; }
  .table__share-btn_active svg, .table__share-btn_active path {
    stroke: #6093DE;
    fill: #6093DE; }

.table__share-btn_inactive {
  border-color: #D0D3DA;
  color: #D0D3DA; }
  .table__share-btn_inactive svg, .table__share-btn_inactive path {
    stroke: #D0D3DA;
    fill: #D0D3DA; }

.table-navigation-mobile__sort {
  display: none;
  position: absolute;
  right: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }

.table-navigation-mobile__sort-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.table-navigation-mobile__sort-label, .table-navigation-mobile__sort-text {
  font-size: 1.4em; }

.table-navigation-mobile__sort-label {
  font-weight: 500;
  padding-right: 8px; }

.table-navigation-mobile__sort-dir {
  width: 1.5em;
  margin-right: 8px;
  stroke: #8391AD; }

.table__sort-dir_ascending {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.table-navigation-mobile__sort-text {
  margin-right: 8px; }

.table-navigation-mobile__sort-btn {
  margin-top: 3px; }

.table-navigation_top .open .table-navigation-mobile__sort-btn {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.table-navigation-mobile__sort-list {
  white-space: nowrap;
  right: 0;
  top: 25px; }

.sort-list__item {
  font-size: 1.4em; }

.sort-list__sort-settings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px; }

.sort-list__sort-settings-item {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .sort-list__sort-settings-item svg {
    width: 1.5em;
    stroke: #8391AD; }

.sort-list__sort-settings-item_ascending svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.sort-list__sort-settings-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.sort-list__sort-settings-сheckmark {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #6093DE;
  background-color: #ffffff; }
  .sort-list__sort-settings-сheckmark::after {
    content: "";
    display: none;
    background-color: #6093DE;
    width: 10px;
    height: 10px;
    border-radius: 50%; }

.sort-list__sort-settings-item {
  margin-right: 20px; }
  .sort-list__sort-settings-item:last-child {
    margin-right: 0; }

.sort-list__sort-settings-item .sort-list__sort-settings-checkbox:checked ~ .sort-list__sort-settings-сheckmark::after {
  display: block; }

.sort-list__sort-btn-wrapper {
  text-align: center; }

.sort-list__sort-btn {
  padding: 4px 25px;
  background-color: #ffffff;
  border: 1px solid #6093DE;
  border-radius: 6px;
  font-size: 1.6em;
  color: #6093DE;
  cursor: pointer; }

.visible {
  opacity: 1;
  pointer-events: auto; }

@media screen and (max-width: 1200px) {
  .table {
    display: none; }
  .table-mobile {
    display: block; }
  .table-navigation-mobile__sort {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .table-navigation__content {
    left: 15px; } }

@media screen and (max-width: 998px) {
  .dashboard__item-number {
    font-size: 3.5em; }
  .dashboard__item-title {
    font-size: 2em; }
  .controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .controls__item_search {
    width: 100%;
    margin-bottom: 25px; } }

@media screen and (max-width: 768px) {
  .dashboard {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .dashboard__item {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    padding: 15px 25px; }
    .dashboard__item:nth-child(2) {
      border-right: none; }
  .table-navigation__rest-rows_top, .table-navigation__rest-text_top, .table-navigation__total-rows_top {
    display: none; }
  .table-navigation_top {
    margin: 15px 0 0 0; }
  .table-navigation__controls_top {
    display: none; }
  .table-navigation__content_bottom {
    left: 0; }
  .table-navigation_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.25);
            box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.25); }
  .table-navigation__content_bottom {
    top: 10px;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .table-navigation__text_bottom {
    display: none; }
  .table-navigation__rows-amount-select_bottom {
    display: none; }
  .table-navigation__wrapper-controls_bottom {
    bottom: 18px;
    top: initial; }
  .table-navigation__controls_bottom {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .calendar-table__cell-day:hover {
    background-color: initial;
    border-radius: 0px; }
  .calendar-table__cell-day_selected-one:hover {
    background-color: #6093DE;
    border-radius: 50%; }
  .calendar-table__cell-day_selected-period-start:hover, .calendar-table__cell-day_selected-period-end:hover {
    background-color: #6093DE;
    border-radius: 50%; } }

@media screen and (max-width: 671px) {
  .dashboard__item-number {
    font-size: 2.5em;
    font-weight: 600; }
  .dashboard__item {
    padding: 10px 15px; }
  .dashboard__item-title {
    font-size: 1.6em; }
  .controls {
    padding: 0;
    margin-bottom: 0; }
    .controls .controls__item_search, .controls .controls__reload {
      display: none; }
    .controls .controls__date-period {
      margin-right: 0; }
    .controls .controls__item {
      padding: 20px 15px; }
  .controls__date-settings {
    margin-bottom: 15px; }
  .controls__date-picker {
    margin-right: 0; }
  .controls__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .controls-mobile__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .table-navigation {
    min-height: 35px; }
  .table-navigation__content_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  #table-navigation__rows-amount_top {
    margin-right: 8px; }
  .table-navigation__rows-amount-select {
    margin-top: 5px; }
  .table-mobile__popup_name, .table-mobile__popup_share-btn {
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
    padding: 8px 15px; }
  .table-mobile__popup_name, .table-mobile__share-text {
    font-size: 1.8em; }
  .table-mobile__popup_share-btn svg {
    width: 1.7em; } }

@media screen and (max-width: 390px) {
  .dashboard__item-number {
    font-size: 2em; }
  .dashboard__item {
    padding: 8px; }
  .dashboard__item-title {
    font-size: 1.4em; }
  .controls__date-picker-text {
    margin: 0 8px; }
  .controls__date-picker-date {
    width: 87px;
    padding-right: 8px;
    font-size: 1.2em; }
  .table-navigation-mobile__sort-wrapper {
    margin-top: 2px; }
  .table-navigation-mobile__sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .table-navigation-mobile__sort-list {
    top: 35px; }
  .table-navigation-mobile__sort-label {
    padding-right: 0; }
  .table-mobile__popup_name, .table-mobile__popup_share-btn {
    padding: 8px; }
  .table-mobile__popup_name, .table-mobile__share-text {
    font-size: 1.6em; }
  .table-mobile__popup_share-btn svg {
    width: 1.5em; } }
