html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

div {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

p {
  margin: 0; }

h1 {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  color: #000000;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  background-color: #F6F7FB; }

body, html {
  overflow-x: hidden;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

input {
  outline: none; }

.drop-list {
  opacity: 0;
  position: absolute;
  border-radius: 20px;
  padding: 10px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
  pointer-events: none; }

.selected {
  background-color: #E7E9EC; }
  .selected::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 10px;
    background-color: #6093DE; }

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 25px;
  margin-bottom: 40px;
  border-bottom: 1px solid #D0D3DA; }

.controls__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.controls__date-settings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.controls__date-period-list {
  top: 35px;
  right: 0;
  width: auto;
  white-space: nowrap; }

.drop-list__item {
  position: relative;
  padding: 8px 20px;
  cursor: pointer; }

.controls__item_left {
  width: 25%;
  min-width: 250px;
  max-width: 620px; }

.controls__search {
  position: relative;
  width: 100%;
  cursor: pointer; }

.search-field {
  width: 100%;
  height: 100%;
  min-height: 42px;
  padding: 5px 50px 5px 20px;
  border-radius: 20px;
  border: 1px solid #D0D3DA;
  font-size: 1.4em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.controls__search-btn {
  position: absolute;
  right: 0;
  top: 0; }

.controls__search-btn, .controls__board-hour-select-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.2em;
  width: 4.2em;
  min-width: 4.2em;
  min-height: 4.2em;
  border-radius: 50%;
  border: 1px solid #D0D3DA;
  cursor: pointer; }
  .controls__search-btn svg, .controls__board-hour-select-btn svg {
    fill: #8391AD; }

.controls__board-hour-select-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.controls__board-hour-select-field {
  border: 1px solid #D0D3DA;
  border-radius: 6px;
  padding: 2.5px 5px;
  cursor: pointer; }

.controls__board-hour-select-wrapper {
  position: relative; }

.controls__board-hour-select-select {
  position: absolute;
  top: 10px;
  background-color: #ffffff;
  width: 100%;
  cursor: pointer; }

.controls__board-hour-select-text {
  height: 14px;
  width: 50px;
  text-transform: uppercase; }

.controls__board-hour-select {
  position: relative;
  text-align: center; }

.controls__board-hour-select-btn {
  margin-left: 8px; }

.controls__board-hour-select-list {
  position: absolute;
  top: 50px;
  padding: 20px;
  width: auto;
  white-space: nowrap;
  right: 0; }

.controls__board-hour-select-select {
  top: 25px;
  padding: 0px;
  max-height: 178px;
  overflow-y: auto;
  border-radius: 3px;
  background-color: #ffffff; }

.controls__board-hour-option {
  padding: 5px 4px;
  background-color: #ffffff;
  border-top: 1px solid #D0D3DA;
  font-size: 1em;
  text-transform: uppercase; }
  .controls__board-hour-option:first-child {
    border-top: none; }

.controls__board-hour-option_selected {
  background-color: #F6F7FB; }

.controls__board-hour-select-main {
  font-size: 1.4em;
  margin-bottom: 15px; }
  .controls__board-hour-select-main span {
    padding-right: 5px; }

#controls__board-hour-select-start {
  margin-right: 3px; }

.controls__board-hour-select-btn-apply {
  display: inline-block;
  padding: 4px 25px;
  background-color: #ffffff;
  border: 1px solid #6093DE;
  border-radius: 6px;
  font-size: 1.6em;
  color: #6093DE;
  cursor: pointer; }

.controls__days-amount {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-size: 1.4em;
  cursor: pointer; }

.controls__days-amount-text {
  margin-right: 8px; }

.controls__days-amount-list {
  top: 35px;
  right: 0px;
  width: auto;
  white-space: nowrap; }

.controls__date-period {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-size: 1.4em;
  cursor: pointer; }

.controls__date-period-text {
  margin-right: 8px; }

.controls__item .open .controls__date-period-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.controls__date-picker {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px; }

.controls__date-picker-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1.2em 1.5em 1.4em 1.5em;
  background-color: #E7E9EC;
  border: 1px solid #D0D3DA;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer; }
  .controls__date-picker-item:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    height: 100%;
    width: 5px;
    background-color: #6093DE; }

.controls__date-picker-text {
  margin: 0 25px;
  color: #8391AD;
  font-size: 1.8em; }

.controls__date-picker-date {
  width: 95px;
  padding-right: 10px;
  font-size: 1.4em; }

.calendar {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  z-index: 2;
  cursor: pointer; }

.calendar__table {
  border-collapse: collapse;
  border-spacing: 0; }

.calendar__controls-month {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0px;
  width: 100%;
  border-bottom: 1px solid #D0D3DA; }

.calendar__control-month {
  width: 1em; }
  .calendar__control-month svg {
    stroke: #000000; }

.calendar__month {
  text-align: center;
  font-size: 1.6em;
  font-weight: 500; }

.calendar-table__row-week {
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 0.1rem solid #D0D3DA; }

.calendar-table__cell {
  padding: 14px;
  text-align: center;
  font-size: 1.4em; }

.calendar-table__cell-day:hover {
  background-color: rgba(142, 142, 147, 0.5);
  border-radius: 6px; }

.calendar-table__cell-day_selected-one {
  background-color: #6093DE;
  border-radius: 50%;
  color: #ffffff; }
  .calendar-table__cell-day_selected-one:hover {
    border-radius: 50%; }

.controls__date-select-prev, .controls__date-select-next {
  width: 2em;
  cursor: pointer; }
  .controls__date-select-prev svg, .controls__date-select-next svg {
    stroke: #000000; }

.controls__date-select-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.controls-mobile__item {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 15px;
  border-top: 1px solid #D0D3DA; }

.controls-mobile__search {
  margin-right: 20px; }

.boards {
  width: 96%;
  margin: 0 auto; }

.boards__dates-wrapper, .boards__timeline-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.boards__dates {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin-left: auto;
  border-right: 1px solid #D0D3DA;
  border-left: 1px solid #D0D3DA; }

.boards__dates-item {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #D0D3DA;
  border-bottom: 1px solid #D0D3DA; }
  .boards__dates-item:last-child {
    border-right: 1px solid #D0D3DA; }
  .boards__dates-item:first-child {
    border-width: 1px; }

.boards__dates-item-time {
  font-size: 1.2em;
  font-weight: 500; }

.boards__timeline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin-left: auto;
  background-color: #ffffff;
  border-left: 1px solid #D0D3DA;
  border-right: 1px solid #D0D3DA; }

.timeline__item {
  text-align: center;
  padding: 7px 5px; }

.timeline__item-time {
  color: #8391AD;
  font-size: 1.4em;
  text-transform: uppercase; }

.boards__item:first-child {
  border-top: 1px solid #D0D3DA; }

.boards__board_hide {
  display: none; }

.boards__item-area-btn-hide_active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.boards__item-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #D0D3DA;
  border-left: 1px solid #D0D3DA;
  border-right: 1px solid #D0D3DA; }

.boards__item-area_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.boards__item-area-btn-hide {
  margin-right: 8px; }

.boards__item-area-town, .boards__item-area-time {
  font-size: 1.4em;
  font-weight: 500; }

.board__table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }

.board__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.board__aside {
  width: 15%;
  background-color: #ffffff;
  border-left: 1px solid #D0D3DA;
  border-bottom: 1px solid #D0D3DA; }

.board__worker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px; }

.board__worker-img {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #D0D3DA;
  margin-right: 8px; }
  .board__worker-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover; }

.board__worker-nickname {
  margin-bottom: 2px;
  font-size: 1.6em;
  font-weight: 500; }

.board__worker-name-surname {
  margin-bottom: 2px;
  font-size: 1.2em;
  font-weight: 500; }

.board__worker-post {
  font-size: 1.2em;
  font-weight: 300;
  color: #8391AD; }

.board__main {
  width: 85%;
  padding: 0px;
  border-bottom: 1px solid #D0D3DA; }

.board__timegrid {
  position: relative;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse; }

.board__table {
  position: relative; }

.timegrid__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px; }

.timegrid__realtime-line {
  display: none;
  position: absolute;
  top: 0;
  left: 15%;
  height: 100%;
  width: 2px;
  background-color: #EB5757; }

.timegrid__realtime-line_active {
  display: block; }

.timegrid__cell {
  border-left: 1px solid #D0D3DA;
  background-color: #ffffff; }
  .timegrid__cell:last-child {
    border-right: 1px solid #D0D3DA; }

.timegrid__cell_end {
  border-left: 3px solid #9B9FA7; }

.timeline__item_end {
  border-left: 3px solid #9B9FA7;
  position: relative; }
  .timeline__item_end::before {
    content: "";
    display: block;
    position: absolute;
    left: -3px;
    top: -23px;
    background-color: #9B9FA7;
    width: 3px;
    height: 22px; }

.schedule-items {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.appointment {
  position: absolute;
  height: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 8px 5px 10px;
  border-radius: 6px; }
  .appointment::after {
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    width: 2px;
    border-radius: 10px;
    height: 70%;
    background-color: #ffffff;
    opacity: 0.4; }

.appointment__job-number {
  margin-bottom: 2px;
  font-size: 1.4em;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden; }

.appointment__zip {
  font-size: 1em;
  color: #ffffff; }

.appointment_hide {
  display: none; }

.schedule-items__day-wrapper {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.appointment_follow {
  background-color: #6093DE; }

.appointment_service {
  background-color: #01B41F; }

.appointment_recall {
  background-color: #FF0000; }

.appointment_notification {
  padding-left: 15px; }
  .appointment_notification::after {
    width: 4px;
    opacity: 1; }

.absence {
  position: absolute;
  height: 70%;
  background-color: #FFB700;
  padding: 5px 8px 5px 10px;
  border-radius: 6px; }

.visible {
  opacity: 1;
  pointer-events: auto; }

@media screen and (max-width: 998px) {
  .controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .controls__item_left {
    width: 100%;
    margin-bottom: 25px; } }

@media screen and (max-width: 768px) {
  .calendar-table__cell-day:hover {
    background-color: initial;
    border-radius: 0px; }
  .calendar-table__cell-day_selected-one:hover {
    background-color: #6093DE;
    border-radius: 50%; } }

@media screen and (max-width: 671px) {
  .controls {
    padding: 0;
    margin-bottom: 0; }
    .controls .controls__item_left {
      display: none; }
    .controls .controls__date-period {
      margin-right: 0; }
    .controls .controls__item {
      padding: 20px 15px; }
  .controls__date-settings {
    margin-bottom: 15px; }
  .controls__date-picker {
    margin-right: 0; }
  .controls__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .controls-mobile__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media screen and (max-width: 390px) {
  .controls__date-picker-text {
    margin: 0 8px; }
  .controls__date-picker-date {
    width: 87px;
    padding-right: 8px;
    font-size: 1.2em; } }
