.form_city_weather {
  display: flex;
  margin-top: 25px;
}

.input {
  font-size: 1.4vw;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  display: block;
}

.input_city {
  height: 4vw;
}

.input_submit_city {
  height: 4vw;
}

.input_city_wrapper {
  width: 95%;
  position: relative;
  padding: 12px 14px;
  background-color: #ffffff;
}

.input_submit_city_wrapper {
  width: 95%;
  position: relative;
  padding: 12px 14px;
  background-color: #ffffff;
}

.input_text {
  width: 100%;
}

.input_submit {
  width: 100%;
  
}
